table{
    border: 1px solid #9F7769;
    border-collapse: collapse
  }

td, tr {
    color: #9F7769;
    font-size: 40px;
    height: 49px
  }
.element_button{
  background: none;
  border: none;
  color: #9F7769;
  font-size: 40px 

}


.table_btn {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}

.add_btn {
    width: 20px;
    height: 20px
}